/* soleil */
#soleil {
	width: 120px;
	height: 120px;
	background-color: yellow;
	border-radius: 50%;
	position: fixed;
	top: 280px;
	right: 40px;
}
#rayon1{
	width: 200px;
	height: 5px;
	background-color: yellow;
	transform: rotate(0deg);
	position: fixed;
	top: 340px;
	right: 3px;
	box-shadow: 0px 0px 4px 4px yellow,0px 0px 4px 4px yellow;
	border-radius: 5%;
}
#rayon2{
	width: 200px;
	height: 5px;
	background-color: yellow;
	transform: rotate(22.5deg);
	position: fixed;
	top: 340px;
	right: 3px;
	box-shadow: 0px 0px 4px 4px yellow,0px 0px 4px 4px yellow;
	border-radius: 5%;
}
#rayon3{
	width: 200px;
	height: 5px;
	background-color: yellow;
	transform: rotate(45deg);
	position: fixed;
	top: 340px;
	right: 3px;
	box-shadow: 0px 0px 4px 4px yellow,0px 0px 4px 4px yellow;
	border-radius: 5%;
}
#rayon4{
	width: 200px;
	height: 5px;
	background-color: yellow;
	transform: rotate(67.5deg);
	position: fixed;
	top: 340px;
	right: 3px;
	box-shadow: 0px 0px 4px 4px yellow,0px 0px 4px 4px yellow;
	border-radius: 5%;
}
#rayon5{
	width: 200px;
	height: 5px;
	background-color: yellow;
	transform: rotate(90deg);
	position: fixed;
	top: 340px;
	right: 3px;
	box-shadow: 0px 0px 4px 4px yellow,0px 0px 4px 4px yellow;
	border-radius: 5%;
}
#rayon6{
	width: 200px;
	height: 5px;
	background-color: yellow;
	transform: rotate(112.5deg);
	position: fixed;
	top: 340px;
	right: 3px;
	box-shadow: 0px 0px 4px 4px yellow,0px 0px 4px 4px yellow;
	border-radius: 5%;
}
#rayon7{
	width: 200px;
	height: 5px;
	background-color: yellow;
	transform: rotate(135deg);
	position: fixed;
	top: 340px;
	right: 3px;
	box-shadow: 0px 0px 4px 4px yellow,0px 0px 4px 4px yellow;
	border-radius: 5%;
}
#rayon8{
	width: 200px;
	height: 5px;
	background-color: yellow;
	transform: rotate(157.5deg);
	position: fixed;
	top: 340px;
	right: 3px;
	box-shadow: 0px 0px 4px 4px yellow,0px 0px 4px 4px yellow;
	border-radius: 5%;
}

#ciel{
	width: 100%;
	height: 500px;
	background-color: #8cf3f6;
	box-shadow: 0px 0px 4px 4px #8cf3f6,0px 0px 4px 4px #8cf3f6;
}
/* nuage gauche*/
#nuage1a{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 100px;
	left: 70px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage1b{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 100px;
	left: 115px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;

}
#nuage1c{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 100px;
	left: 160px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;

}
#nuage1d{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 100px;
	left: 205px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage1e{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 100px;
	left: 250px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage1f{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 55px;
	left: 112px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage1g{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 55px;
	left: 160px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage1h{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 55px;
	left: 205px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
/*nuage centre */
#nuage2a{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 140px;
	left: 630px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage2b{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 100px;
	left: 670px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage2c{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 135px;
	left: 690px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage2d{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 100px;
	left: 620px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage2e{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 120px;
	left: 580px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
/* nuage droite */
#nuage3a{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 60px;
	right: 65px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage3b{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 70px;
	right: 110px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage3c{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 135px;
	right: 140px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage3d{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 90px;
	right: 170px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage3e{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 120px;
	right: 80px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
#nuage3f{
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	top: 100px;
	right: 35px;
	box-shadow: 0px 0px 4px 4px #ffffff,0px 0px 4px 4px #ffffff;
}
/*sol*/
#sol{
	position: fixed;
	top: 500px;
	width: 100%;
	height: 250px;
	background-color: #26ab08;
	box-shadow: 0px 0px 4px 4px #26ab08,0px 0px 4px 4px #26ab08;
}
#tronc{
	border-bottom: 450px solid #8e5507;
	border-right: 40px solid rgba(0,0,0,0.0);
	border-left: 40px solid rgba(0,0,0,0.0);
	position: absolute;
	top: -380px;
	right: 300px;
}
#branche1{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	top: 250px;
	right: -155px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche2{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	top: 130px;
	right: -105px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche3{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	top: -14px;
	right: -55px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche4{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	bottom: 171px;
	right: -38px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche5{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	bottom: 336px;
	right: -56px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche6{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
    bottom: 482px;
    right: -100px;
    box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche7{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	bottom: 606px;
	right: -152px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche8{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	bottom: 677px;
	right: -212px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche9{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	bottom: 740px;
	left: 249px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche10{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	bottom: 782px;
	left: 282px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche11{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	bottom: 816px;
	left: 261px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche12{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	bottom: 866px;
	right: -216px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#branche13{
	width: 100px;
    height: 100px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
	bottom: 870px;
	right: -1212px;
	box-shadow: 0px 0px 4px 4px #62f826,0px 0px 4px 4px #62f826;
}
#grossebranche{
	width: 200px;
    height: 200px;
    background-color: #62f826;
    border-radius: 50%;
    position: relative;
    bottom: 1229px;
	right: -103px;
}

/*maison*/
#toit1 {
	width: 0px;
    height: 0px;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 70px solid #e18e0e;
    position: fixed;
    z-index: 1;
    left: 540px;
    top: 190px;
}
#feuille{
	width: 400px;
	height: 400px;
	background-color: transparent;
	position: absolute;
	top: -480px;
	right: 145px;
}
#fenetreronde{
	width: 40px;
	height: 40px;
	background-color: #aef9ed;
	position: relative;
	top: 20px;
	right: 20px;
	border-radius: 50%;
	border: 2px solid #7e4e05;
}
#toit2{
	width: 0px;
	height: 0px;
	border-bottom: 60px solid #e18e0e;
	border-left: 250px solid #e18e0e;
	border-right: 50px solid transparent;
	position: fixed;
	z-index: 1;
	left: 710px;
	top: 300px;
}
#velux1{
	width: 30px;
	height: 40px;
	position: relative;
	top: 10px;
	right: 210px;
	background-color: #aef9ed;
	border:2px solid #7e4e05; 
}
#velux2{
	width: 30px;
	height: 40px;
	position: relative;
	top: -34px;
	right: 60px;
	background-color: #aef9ed;
	border:2px solid #7e4e05;
}
#RDC{
	width: 450px;
	height: 140px;
	background-color: #b4935f;
	left: 550px;
	top: 360px;
	position: fixed;
	z-index: 1;
}
#etage{
	width: 160px;
	height: 100px;
	background-color: #b4935f;
	left: 550px;
	top: 260px;
	position: fixed;
	z-index: 1;
}
#porte{
	width: 40px;
	height: 80px;
	background-color: #955e09;
	border-top: 3px solid #7e4e05;
	border-left: 3px solid #7e4e05;
	border-right: 3px solid #7e4e05;
	position: fixed;
	left: 610px;
	top: 417px;
	z-index: 1;
}
#fenetre1{
	width: 40px;
	height: 70px;
	background-color: #aef9ed;
	position: fixed;
	top: 380px;
	left: 760px;
	border:2px solid #7e4e05;
}

#fenetre2{
	width: 40px;
	height: 70px;
	background-color: #aef9ed;
	position: fixed;
	top: 380px;
	left: 720px;
	border:2px solid #7e4e05;
}
#fenetre3{
	width: 50px;
	height: 70px;
	background-color: #aef9ed;
	position: fixed;
	top: 380px;
	left: 900px;
	border:2px solid #7e4e05;
	border-radius: 25px 25px 0px 0px;
}
#fenetre4{
	width: 60px;
	height: 60px;
	background-color: #aef9ed;
	position: fixed;
	top: 280px;
	left: 600px;
	border:2px solid #7e4e05;
	border-radius: 25%;
}
